{% extends 'base.html.twig' %}

{% block body %}

    {% set roles = app.user ? app.user.roles : [] %}
    {% set entityFiles = isImport(entityFiles, roles) %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>File</th>
        </tr>
        </thead>
        <tbody>
        {% for file in entityFiles %}
            <tr>
                <td>
                    {{ file }}
                </td>
                <td>
                    <a href="{{ path('app_default_download', {entity: entity, file: file}) }}">
                        {{ file }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}